# LLM Модель (Ollama)
OLLAMA_BASE_URL=http://127.0.0.1:11434
LLM_MODEL=qwen3:4b

# Embedding модель
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# ChromaDB
CHROMA_DB_PATH=./chroma_db_e5

# FastAPI
HOST=0.0.0.0
PORT=8000
